<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructions</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <div class="container">
        <h1>Instructions</h1>
        <h3>Read the following instructions carefully to use the system:</h3>
        <ul> 
            <li>1. The input file must be in the .csv format; other formats are not accepted by the system.</li>
            <li>2. The data provided by the user should have the following columns/features:</li>
            <img src="../static/data sample.png" alt="Image not available">
            <p></p>
            <li>3. The date feature should be in ascending order as it will be used as an index.</li>
            <li>4. Before viewing the future predictions, examine the model behavior. If the model behavior is close to the actual data, the model is performing well with your data.</li>
            <li>5. In order to get the best predictions, provide a larger amount of data to the model (ideal size/length=2000).</li>
        </ul>
    </div>
</body>
</html>
